<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <main>
    <% if (user.role[0]["role"] === 'admin') { %>
    <h1>Admin panel</h1>
    <% applies.forEach(function(apply) { %>
        <div clas="song-item">
            <p class="text"> Apply request n°<%= apply.number %> </p>
            <p class="text"> User: <%= apply.username %> </p>
            <p class="text"> User ID: <%= apply.user_id %> </p>
            <br>
            <p class="text"> Artist name: <%= apply.artist_name %> </p>
            <p class="text"> Email: <%= apply.pro_mail %> </p>
            <p class="text"> Music label: <%= apply.label %> </p>
            <p class="text"> Tunecore account: <%= apply.tunecore %> </p>
            <p class="text"> Copyrights: <%= apply.copyrights %> </p>
            <br>
            <form action="/admin/accept" method="POST">
              <input type="hidden" name="apply_id" value="<%= apply.user_id %>">
              <button class="btn-primary" type="submit">Accept</button>
            </form>
            <form action="/admin/deny" method="POST">
              <input type="hidden" name="apply_id" value="<%= apply.user_id %>, <%= apply.artist_name %>">
              <button class="btn-primary" type="submit">Deny</button>
            </form>
        </div>
    <% }) %>
    <% } %>
  </main>
</body>

</html>
