<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <%- include('../static/navbar', {user: user}) %>
  </header>

  <main>
    <h1>Browse page </h1>
    <div class="songs-container"> 

      <% songs.forEach(function(song) { %>
        <div class="song-item">
            <div class="song-item-info">
              <button class="btn-song"> <%= song.name %> </button>
              <p class="song-text"> by </p>
              <button class="btn-song"> <%= song.artist %> </button>
            </div>
            <div class="song-item-player">
              <audio controls>
                <source src="<%= song.track %>" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <br>
      <% }) %>
    </div>
  </main>

  <footer>
    <%- include('../static/footer') %>
  </footer>
</body>

</html>
