<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <%- include('../static/navbar', {username: username}) %>
  </header>

  <main>
    <h1>Browse page </h1>
    <div class="songs-container"> 

      <% songs.forEach(function(song) { %>
      <div clas="song-item">
        <p class="song-text"> <%= song.name %> </p>
        <p class="song-text"> By <%= song.artist %> </p>
        <audio controls>
          <source src="<%= song.track %>" type="audio/mpeg">
        </audio>
      </div>
      <% }) %>

    </div>
  </main>

  <footer>
    <%- include('../static/footer') %>
  </footer>
</body>

</html>
